@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=latin-ext');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    line-height: 1;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #ebebeb;
    background: #181a1b;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 10px;
    width: 100%;
    background: rgba(64, 66, 67, .8);
}

header .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header a {
    color: white;
    text-decoration: none;
}

header .logo {
    font-weight: 700;
    font-size: 18px;
}

header nav {
    margin-left: auto;
}

header nav ul {
    list-style-position: inside;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-weight: 300;
    font-size: 14px;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #f1b441;
}

footer {
    flex-shrink: 0;
    margin-top: 40px;
    padding: 20px 0;
    width: 100%;
    background: black;
}

main {
    flex: 1 0 auto;
    padding-top: 60px;
}
