
th {
  background-color:#5D7C8E;
  text-align: center;
  color: #292F34;
  font-size: 32px;
  text-decoration: underline;
  line-height: 1.8;
}
td{
  
  text-align: Left;
  color: Black;
  font-size: 18px;	
  line-height: 1.3;
}
.page{
    background-color:rgb(206, 202, 191);
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px 30px ;
    text-align:justify; 
}